.flowers-teaser-mourning {
	background-color: $beige-20;

	&__inner {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 32px;
		align-items: center;
	}

	&__slider {
		grid-column: 1 / span 7;
	}

	&__content, .content {
		grid-column: 9 / span 4;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		flex-grow: 0;
		
		&__heading {
			margin-bottom: 16px;
		}

		&__text {
			margin-bottom: 120px;
		}

	}

	@media (max-width: 1250px) {

		&__slider {
			grid-column: 1 / span 6;
		}

		&__content, .content {
			grid-column: 8 / span 5;
		}

	}

	@media (max-width: 1150px) {

		&__slider {
			grid-column: 1 / span 6;
		}

		&__content, .content {
			grid-column: 8 / span 5;
		}

	}

	@media (max-width: 950px) {

		&__slider {
			grid-column: 1 / span 12;
			margin-bottom: 80px;
		}

		&__content, .content {
			grid-column: 1 / span 12;
		
			&__heading {
				margin-bottom: 16px;
			}

			&__text {
				margin-bottom: 40px;
			}

		}

	}

	@media (max-width: 600px)  {

		&__inner {
			grid-gap: 24px;
		}

	}

	@media (max-width: 400px) {

		&__inner {
			grid-gap: 16px;
		}
	
	}

}