.button {
	background-color: $brown-80;
	color:$white-100;
	padding: 8px 24px;
	border-radius: 16px;
	transition: all 0.3s ease;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	border: 0;
	outline: none;

	&:hover, &:active, &:focus {
		background-color: $brown-60;
	}

}