.bee {
	height: 0;
	position: relative;
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 120px;

	&__image {
		width: 320px;
		height: auto;
		display: block;
		right: calc(100% - (320px + 0px));
		transform: translateY(-50%);
		position: absolute;;
	}

	@media (max-width: 1840px) {

		&__image {
			right: calc(100% - (160px + 40px));
		}

	}

	@media (max-width: 1050px) {

		&__image {
			width: 240px;
			right: calc(100% - (160px + 0px));
		}

	}

}