.about-us-bee-action {
	padding: 0 !important;

	&__inner, .inner {
		padding: 0;
		position: relative;;
		max-width: 100% !important;
	}

	&__background, .background {
		height: 240px;

		&--upper {
			background-color: $beige-20;
		}

		&--lower {
			background-color: $white-100;
		}

	}

	@media (max-width: 1050px) {

		&__background, .background {
			height: 200px;
		}

	}

}