.start-intro {

	&__inner {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-column-gap: 32px;
		padding-top: 64px;
	}

	&__content, .content {
		grid-column: 5 / span 6;
	}

	@media (max-width: 1050px) {

		&__content, .content {
			grid-column: 3 / span 8;
		}

	}

	@media (max-width: 750px) {

		&__content, .content {
			grid-column: 1 / span 13;
		}

	}

	@media (max-width: 600px) {

		&__inner {
			grid-column-gap: 24px;
			padding-top: 32px;
		}

	}

	@media (max-width: 400px) {

		&__inner {
			grid-column-gap: 16px;
		}

	}

}